<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/2006/wi/util">
  <Fragment>
    <UI>
      <WixVariable Id="WixUIDialogBmp"
                   Value="!(bindpath.WixImagingDir)wix-dialog.bmp" />
      <WixVariable Id="WixUIBannerBmp"
                   Value="!(bindpath.WixImagingDir)wix-banner.bmp" />
    </UI>
  </Fragment>
</Wix>